.bg-image {
  background-image: url(/assets/image/person_03.jpeg);
  // background-size: cover;
  height: 100vh;
  width: 50vw;
  position: fixed;
  background-size: 100% 100%;
}

.content-data {
  width: 50vw;
  margin-left: 50vw;
}

.top-position {
  position: fixed;
  background-color: #fff;
  width: 50%;
  top: 0;
  height: 30px;
  padding-right: 30px !important;
}

.paddingg {
  padding: 200px 0 0 30px;
}

.home {
  margin-right: 95px;

  h5 {
    font-weight: 600;
    margin-bottom: 15px;
  }

  h6 {
    color: #70ba65;
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }

  button {
    padding: 10px 30px;
    border: 1px solid #e0e1e2;
    border-radius: 10px;
    color: #676767;
    font-weight: 600;
    font-size: 13px;
    --move-hover: -4px;
    display: block;
    background-color: #ffffff;
    box-shadow: var(--shadow);
    transform: translateY(var(--y))translateZ(0);
    transition: transform 0.44s ease, box-shadow 0.44s ease;

    i {
      margin-left: 5px;
    }
  }

  button:hover {
    border: 1px solid #70ba65;
    color: #70ba65;
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);

    i {
      color: #70ba65;
    }
  }
}


.abouts {
  margin-top: 100px;
  margin-right: 100px;

  .first-about {
    h5 {
      font-weight: 600;
      margin-bottom: 15px;
    }

    h6 {
      color: #70ba65;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
      text-align: justify;
      font-stretch: ultra-expanded;
    }
  }

  .second-about {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    line-height: 1.5;
    padding-top: 10px;

    .div-1 {
      color: #70ba65;
      font-weight: 500;
    }

    .div-2 {
      margin-left: 10px;
      font-weight: 500;
      color: #000000;
    }
  }

  .third-about {
    padding-top: 40px;

    & h5 {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 18px;
    }

    .botom {
      margin-bottom: 20px;
    }
  }

  .columns {
    line-height: 1.4;
    border-radius: 15px;
    height: 100%;
    padding: 15px;
    box-shadow: rgba(62, 145, 170, 0.24) 0px 3px 8px;
    cursor: pointer;
    background-color: #fff;

    span {
      margin-left: 5px;
      font-weight: 500;
      color: #70ba65;
    }

    p {
      margin-top: 10px;
    }
  }
}

.skills {
  margin-top: 100px;
  margin-right: 100px;

  .first-skill {
    h5 {
      font-weight: 600;
    }

    h6 {
      color: #70ba65;
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
      text-align: justify;
    }
  }
}

// progressbar

.progress-container {
  margin-bottom: 20px;
  box-shadow: rgba(35, 102, 122, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;

  .spann {
    color: #70ba65;
    font-weight: 500;
  }

  .paragraph {
    display: flex;
    margin-bottom: 15px;

    p {
      margin: 0;
    }
  }
}

.progress {
  height: 15px;
  background-color: rgb(223, 223, 223);
}

.progress-bar {
  background-color: #70ba65;
  border-radius: 10px;
  font-size: 11px;
}

.column {
  animation: none;
}

.column:hover {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.contacts {
  margin-top: 100px;
  margin-right: 95px;

  .first-contact {
    h5 {
      font-weight: 600;
    }

    h6 {
      color: #70ba65;
      margin-bottom: 15px;
    }
  }

  form {
    button {
      width: 100%;
      margin-bottom: 10px;
      padding: 10px;
      // border: 1px solid #70ba65;
      outline: none;
      border-radius: 50px;
      border: none;
      background-color: #70ba65;
      // background-color: #fff;
      font-weight: 600;
      transition: 0.3s;
      color: #ffffff;
    }
  
    button:hover {
      // border: 1px solid #70ba65;
      color: #ffffff;
      transition: 0.3s;
    }
  }

  // form {
  //   button {
  //     width: 100%;
  //     margin-bottom: 10px;
  //     margin-top: 20px;
  //     padding: 10px;
  //     border: 1px solid #e0e1e2;
  //     outline: none;
  //     border-radius: 10px;
  //     background-color: #fff;
  //     font-weight: 600;
  //     transition: 0.3s;
  //     color: #676767;
  //   }

  //   button:focus {
  //     border: 1px solid #70ba65;
  //     color: #70ba65;
  //     transition: 0.3s;
  //   }
  // }
  .forms {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      background-color: #70ba65;
      margin: 0;
      // padding: 12px;
      height: 46px;
      border-radius: 25px 0 0 25px;
      color: #fff;
      text-align: center;
      font-size: smaller;
      border: 1px solid #70ba65;
  
      i {
        font-size: 18px;
      }
    }
  
    input {
      border-left: none !important;
      border: 1px solid #8f8f8f;
      border-radius: 0 25px 25px 0;
      width: 75%;
      padding: 12px;
      height: 46px;
      position: relative;
      outline: none;
      font-size: smaller;
    }
  
    input:focus {
      border: 1px solid #70ba65;
    }
  }

  .third-contact {
    // border: 1px solid #e0e1e2;
    padding: 15px;
    border-radius: 15px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      line-height: 1.5;
      margin-bottom: 50px;
    }
  }
}

.footer {
  padding: 20px 0 75px;
  display: flex;
  column-gap: 25px;

  a {
    border: 1px solid #e0e1e2;
    border-radius: 20%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    transition: 0.3s;
  }

  a:hover{
    border: 1px solid #70ba65;
    color: #70ba65;
    transition: 0.3s;
    border-radius: 50%;
  }

  a:hover>i {
    scale: 1.2;
    transition: 0.3s;
  }

  i {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a[title="facebook"]:hover i {
    color: #2853aa;
  }

  a[title="instagram"]:hover i {
    color: #C13584;
  }

  a[title="linkedin"]:hover i {
    color: #0072b1;
  }

  a[title="twitter"]:hover i {
    color: #000;
  }
  a[title="github"]:hover i {
    color: #4078c0;
  }
}

.icon-input {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  position: relative;

  i {
    font-size: 18px;
    position: absolute;
    left: 4%;
    color: #000;
    pointer-events: none;
  }

  input {
    // border-left: none !important;
    border: 1px solid #e0e1e2;
    border-radius: 10px;
    width: 100%;
    height: 46px;
    padding: 10px 40px;
    outline: none !important;
    font-size: smaller;
  }

  input:focus {
    border: 1px solid #70ba65;
  }
}

.whatsapp {
  a {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 20px;
    right: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in;

    i {
      font-size: 25px;
      color: #25D366;
    }
  }

  a:hover {
    background-color: #25D366;
    transition: .2s ease-in;

    i {
      color: #fff;
    }
  }
}

// .author{
//   text-align: end;
//   font-family: cursive;
// }

@media(max-width:768px) {
  section {
    padding-top: 80px;
  }

  .bg-image {
    background-image: url(/assets/image/sarfaraz.jpg);
    // background-image: url(/assets/image/person_03.jpeg);
    height: 450px;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background-size: cover;
  }

  .content-data {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .paddingg {
    padding: 0 15px !important;
  }

  .home {
    padding-top: 40px;
    margin-right: 0 !important;


    & p {
      font-size: 15px;
      color: #000;
      text-align: justify;
    }

    & h5 {
      font-size: 20px;
      text-align: center;
    }

    & h6 {
      font-size: 15px;
      text-align: center;
    }

    .contact-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .abouts {
    margin-right: 0;

    & .first-about {

      h5,
      h6 {
        text-align: center;
      }

      p {
        text-align: start;
      }
    }

    & .second-about {
      padding-bottom: 20px;
    }

    & .third-about {
      border-top: 1px solid #cfcfcf;

      h5 {
        text-align: center;
      }
    }
  }


  .skills {
    margin-right: 0;

    & .first-skill {
      h5 {
        text-align: center;
      }

      h6 {
        text-align: center;
      }

      p {
        text-align: start;
        // color: #000;
      }
    }
  }

  .contacts {
    margin-right: 0;

    h5,
    h6 {
      text-align: center;
    }

    .details {
      padding-top: 20px;
    }
  }
}


// .input-person{
//   position: relative;
//   input{
//     width: 100%;
//     height: 46px;
//     padding: 12px 0px 12px 35px;
//   }
//   i{
//     position: absolute;
//     left: 12px;
//     top: 12px;
//   }
// }

// .marquee {
//   width: 100%;
//   overflow: hidden;
//   white-space: nowrap;
//   box-sizing: border-box;
// }

// .marquee span {
//   display: inline-block;
//   padding-left: 100%;
//   animation: marquee 10s linear infinite;
// }

// @keyframes marquee {
//   0% {
//     transform: translateX(100%);
//   }
//   100% {
//     transform: translateX(-100%);
//   }
// }
