<section style="overflow-x: hidden;">
    <div>
        <div class="bg-image"></div>
        <div class="content-data">
            <div class="top-position"></div>
            <div class="paddingg">
                <!-- ======home===== -->
                <div class="home" *ngFor="let content of home" id="home">
                    <!-- <img src="../../../assets/image/hiphop.webp" alt=""> -->
                    <h1 style="margin: 0;padding: 0;">{{content.mohd}}</h1>
                    <h1>{{content.srfraz}}</h1>
                    <h6>{{content.web}}</h6>
                    <p>{{content.hello}}</p>
                    <div class="contact-btn">
                        <button (click)="redirectTo('contact')">CONTACT ME <i class="bi bi-chevron-right"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- =======about===== -->
                <div class="about" id="about">
                    <div class="first-about" *ngFor="let content of about">
                        <h1>{{content.header}}</h1>
                        <h6>{{content.story}}</h6>
                        <p>{{content.frontend}}</p>
                        <p>{{content.aim}}</p>
                    </div>
                    <ul class="second-about" *ngFor="let list of style">
                        <div class="div-1">
                            <li>D birth : </li>
                            <li>Residence : </li>
                            <li>Phone : </li>
                            <li>Location : </li>
                            <li>E-mail : </li>
                        </div>
                        <div class="div-2">
                            <li>{{ list.age }}</li>
                            <li>{{ list.residence }}</li>
                            <li>{{ list.phone }}</li>
                            <li>{{ list.location }}</li>
                            <li>{{ list.email }}</li>
                        </div>
                    </ul>
                    <div class="third-about">
                        <h6>What I Do ?</h6>
                        <div class="row">
                            <div class="col-sm-6 botom" *ngFor="let columns of rows">
                                <div class="columns">
                                    <img src="{{columns.image}}" alt="skills-img">
                                    <span>{{columns.span}}</span>
                                    <p>{{columns.paragraph}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ====skills==== -->
                <div class="skills" id="skill">
                    <div class="first-skill" *ngFor="let skill of first">
                        <h1>{{skill.coding}}</h1>
                        <h6>{{skill.develop}}</h6>
                        <p>{{skill.process}}</p>
                    </div>
                    <div class="progress-container" *ngFor="let progress of progressData">
                        <span class="spann">{{progress.data}}</span>
                        <div class="paragraph">
                            <p>{{progress.paragraph}}</p>
                        </div>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuemin="0"
                            aria-valuemax="100">
                            <div class="progress-bar" [style.width.%]="progress.value">{{progress.value}}%</div>
                        </div>
                    </div>
                </div>
                <!-- ====Contact==== -->
                <div class="contacts" id="contact">
                    <div class="first-contact">
                        <h1>Contact</h1>
                        <h6>LET'S TALK</h6>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <form action="your-action-url" method="post">
                                <div class="forms">
                                    <span>Name</span>
                                    <input type="text" placeholder="Full Name" required>
                                </div>
                                <div class="forms">
                                    <span>&#64;</span>
                                    <input type="email" placeholder="Email" required>
                                </div>
                                <div class="forms">
                                    <span>+91</span>
                                    <input type="tel" placeholder="Number" required>
                                </div>
                                <button type="submit">Submit <i class="bi bi-chevron-right"
                                        aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div class="col-sm-6 details">
                            <div class="third-contact">
                                <ul *ngFor="let list of style">
                                    <div style="color: #70ba65;font-weight: 500;">
                                        <li>D birth </li>
                                        <li>Residence </li>
                                        <li>Phone </li>
                                        <li>Location </li>
                                        <li>E-mail </li>
                                    </div>
                                    <div style="margin-left: 10px;font-weight: 500;color: #676767;">
                                        <li>{{ list.age }}</li>
                                        <li>{{ list.residence }}</li>
                                        <li>{{ list.phone }}</li>
                                        <li>{{ list.location }}</li>
                                        <li>{{ list.email }}</li>
                                    </div>
                                </ul>
                                <div class="author">sarfaraz</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <a href="https://www.facebook.com/md.sarfraj.39501789" target="_blank" title="facebook"><i
                            class="bi bi-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/mdsarfaraz010/" target="_blank" title="instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="" target="_blank" title="linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="" target="_blank" title="twitter"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="whatsapp">
    <a href="https://wa.me/917970622190?text=hii_sarfaraz_jii"><i class="bi bi-whatsapp"></i></a>
</div>